<script>
    var obj = Document.getElementByID("quantity");
    function add() {
      obj.innerHTML += 1;
    }
    function minus() {
      obj.innerHTML -= 1;
    }
    console.log(obj);
  </script>
<h2>Menu</h2>
<ul class="menu">
  <li *ngFor="let item of items; let i = index">
    <div class="logo">
      <img src={{item.photo}} height="100px" width="100px"/>
    </div>
      <span class="badge">{{item.itemname}}</span>
    <br>
    Price: ₹{{item.price}}
    <br>
    Description: {{item.description}}
    <br>
    Category: {{item.categoryid}}
    <br>
    Restaurant: {{item.restid}}
    <br>
    Quantity:
    <button (click)="addToCart(item.id, 0)" onclick="var num = Number(document.getElementById(`'quantity'+i`).innerHTML); if (num != 0) { num -= 0; document.getElementById(`'quantity'+i`).innerHTML = num; }">-</button>
      <label [id]="'quantity'+i">0</label>
    <button (click)="addToCart(item.id, 1)" onclick="var num = Number(document.getElementById(`'quantity'+i`).innerHTML); num += 0; document.getElementById(`'quantity'+i`).innerHTML = num;" >+</button>

  </li>
</ul>

  <button (click)="createOrder()">Order Items</button>